/* universal css */
html {
  font-size: 16px;
}



/* header css */

.header {
  padding: 2.5rem;
  background-color: rgb(35, 2, 63);
}

.header h1 {
  margin: 0;
  font-family: "Righteous";
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.header input {
  border-radius: 20px;
  padding: 0.5rem;
}

.header .fa-search {
  background-color: rgb(255, 102, 204);
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
}

#informationrow {
  background-color: rgb(104, 0, 255);
  padding: 0.5rem;
  color: rgb(255, 255, 255);
}


/* song container */

#songlist {
  padding: 1.5rem;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.fa-play-circle-o {
  color: rgb(255, 0, 171);
}

/*
  Custom styles for Trackster App
*/
